.text-prompt {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.text-prompt h3 {
  font-size: 2.4em;
  font-weight: normal;
  margin: 0;
  color: rgba(0,0,0,.7);
  font-family: 'Abril Fatface', sans-serif;
}
