/* Header */

#header {
  display: block;
  box-sizing: border-box;
  background: none;
  position: relative;
  width: 100%;
  height: 80px;
  padding: 10px;
  color: rgba(255,255,255,.7);
  z-index: 30;
}
#header a.site-title {
  position: relative;
  float: right;
  margin-top: 3px;
  margin-right: 10px;
}
#header a.site-title h1 {
  float: right;
  display: inline;
  color: rgba(255,255,255,.7);
  font-family: 'Geomanist', sans-serif;
  font-weight: 500;
  margin: 0;
  -webkit-transition: color .3s ease; /* Safari */
  transition: color .3s ease;
}
#header a.site-title:hover h1 {
  color: rgba(255,255,255,.9);
}
