body {
  min-height: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #f9f9f9; /* Old browsers */
  background: -moz-linear-gradient(top, #f9f9f9 0%, #f4f4f4 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #f9f9f9 0%,#f4f4f4 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #f9f9f9 0%,#f4f4f4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#f4f4f4',GradientType=0 ); /* IE6-9 */
}
textarea, input, button { outline: none; }

button {
	background: none;
  border: none;
  border: 1px solid #333;
}
button:hover {
  border-color: #3ae0b1;
  color: #3ae0b1;
  -webkit-transition: color .3s ease, border-color .3s ease; /* Safari */
  transition: color .3s ease, border-color .3s ease;
}
button:active {
	position:relative;
	top:1px;
}

/* App */
.App {
  position: relative;
  width: 100%;
  height: auto;
  text-align: center;
}

#app {
  position: relative;
}
