/* Nav */
#main-nav {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  left: 0%;
  z-index: 0;
  height: 100%;
  height: 100vh;
  max-height: 100vh;
  width: 350px;
  padding: 80px 20px 60px;
  opacity: 0;
  color: #fff;
  -webkit-transition: opacity .3s ease-in-out; /* Safari */
  transition: opacity .3s ease-in-out;
  overflow: hidden;
  background: rgb(63,94,251);
background: linear-gradient(20deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
  box-shadow: 2px 0px 30px rgba(0,0,0,.3);
}
#main-nav.initialized {
  animation-duration: 0.4s;
  animation-name: fade-out-left;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  -webkit-animation-duration: 0.4s;
  -webkit-animation-name: fade-out-left;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
  opacity: 1;
}
#main-nav.front {
  z-index: 30;
}
#main-nav.toggled {
  animation-duration: 0.4s;
  animation-name: fade-in-right-full;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  -webkit-animation-duration: 0.4s;
  -webkit-animation-name: fade-in-right-full;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
  opacity: 1;
}
@keyframes fade-out-left {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 1;
  }
}
@keyframes fade-in-right-full {
  from {
    opacity: 1;
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.main-nav ul {
  list-style-type: none;
  text-align: left;
  padding: 0;
}
.main-nav ul li {
  font-size: 3em;
  font-family: 'Geomanist', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
.main-nav ul li a {
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}
.main-nav ul li.active {
  color: rgba(255,255,255,1);
}

@media screen and (min-width: 601px) and (max-width: 800px) {
  #main-nav {
    width: 45%;
  }
  .main-nav ul li {
    font-size: 4em;
  }
}
@media screen and (max-width: 600px) {
  #main-nav {
    width: 100%;
    justify-content: center;
  }
  .main-nav ul li {
    font-size: 3em;
  }
}