/* Image Prompts */
.image-prompt-wrapper {
  box-sizing: border-box;
  block-size: 200px;
}
.prompt-image {
  position: relative;
  display: inline-block;
  width: auto;
  height: 200px;
  border-radius: 1px;
  background: #efefef;
  box-shadow: -10px 10px 40px rgba(50,50,50,.2);
  overflow: hidden;
}
.prompt-image img {
  display: block;
  position: relative;
  width: auto;
  height: auto;
  max-height: 100%;
  max-width: 100%;
}
.prompt-image-credit {
  position: absolute;
  bottom: 0px;
  padding: 5px;
  color: rgba(255,255,255,.6);
}
.prompt-image-credit p {
  margin: 0;
  font-size: 8px;
}
.prompt-image-credit a {
  color: rgba(255,255,255,.8);
  text-decoration: none;
}
